.controls_container {
    height: 56px;
    background: var(--color-white);
    box-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.15);
    position: fixed;
    width: var(--left-menu-width);
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-between;
}