.controls_container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: fixed;
    width: var(--left-menu-width);
    left: 0;
    bottom: 0;
}

.add_field_button_container {
    padding: 0 15px;
}

.user_controls_container {
    height: 56px;
    background: var(--color-white);
    box-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
}