.field_crop_filter {
    padding: 0 10px;
    display: flex;
    flex-direction: column;

}

.title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 var(--padding-common-small) 10px var(--padding-common-small);
    font: var(--font-m-medium);
}

.filter_title {
    color: var(--color-dark);
}

.select_all_button {
    color: var(--color-green);
    cursor: default;
    user-select: none;
    transition: var(--ui-transition);
}

.select_all_button:hover {
    color: var(--color-green-hover);
    cursor: default;
}

.select_all_button:active {
    color: var(--color-green-active);
    cursor: default;
}

.checkbox_list {
    padding: var(--padding-common-big) var(--padding-common-small);
    display: flex;
    flex-direction: column;
    gap: 18px;
}