.field_type_summary {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.field_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field_type {
    display: flex;
    gap: 3px;
    flex-wrap: nowrap;
}

.field_type .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-dark);
    white-space: nowrap;
}

.area_sum {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-dark);
    white-space: nowrap;
}