.field_type_summary {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.field_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field_type {
    display: flex;
    gap: 3px;
    flex-wrap: nowrap;
}

.field_type .title {
    font: var(--font-l-medium);
    color: var(--color-dark);
    white-space: nowrap;
}

.area_sum {
    font: var(--font-s-medium);
    color: var(--color-dark);
    white-space: nowrap;
}