.field_type_relative_lines_container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2px;
}

.line {
    height: 1px;
    background-color: var(--color-not-suitable);
    border-radius: 3px;
    width: 100%;
    flex: 1;
}

.line.current {
    height: 4px;
}

.line.suitable {
    background-color: var(--color-suitable);
}

.line.partially_suitable {
    background-color: var(--color-yellow);
}

.line.not_suitable {
    background-color: var(--color-not-suitable);
}