.button_container {
    height: 56px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--ui-transition);
}

.button_container:hover {
    opacity: 0.8;
}

.button_container:active {
    opacity: 1;
}