:root {
    --color-black: #000;
    --color-black-light: #5e5e5e;
    --color-white: #fff;

    --color-dark: #222222;

    --color-gray-030: #e4e7ea;
    --color-gray-050: #d5dbdf;
    --color-gray-hover: #dddfe2;
    --color-gray-active: #cacccf;
    --color-gray-100: #a5b2bc;

    --color-suitable: #72ba7b;
    --color-not-suitable: #999;

    --color-yellow: #f4d359;

    --color-green: #27ae60;
    --color-green-hover: #249f58;
    --color-green-active: #239252;

    --ui-transition: all 0.1s ease;

    --side-menu-width: 280px;

    --padding-common-small: 5px;
    --padding-common-big: 15px;

    --font-family: "Graphik", serif;

    --font-size-s: 12px;
    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 24px;

    --line-height-s: 16px;
    --line-height-m: 18px;
    --line-height-l: 22px;
    --line-height-xl: 32px;

    --font-s: var(--font-size-s)/var(--line-height-s) var(--font-family);
    --font-s-medium: 500 var(--font-size-s)/var(--line-height-s) var(--font-family);
    --font-m: var(--font-size-m)/var(--line-height-m) var(--font-family);
    --font-m-medium: 500 var(--font-size-m)/var(--line-height-m) var(--font-family);
    --font-l: var(--font-size-l)/var(--line-height-l) var(--font-family);
    --font-l-medium: 500 var(--font-size-l)/var(--line-height-l) var(--font-family);
    --font-xl: var(--font-size-xl)/var(--line-height-xl) var(--font-family);
    --font-xl-bold: bold var(--font-size-xl)/var(--line-height-xl) var(--font-family);
}