.app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 100vh;
    overflow-y: hidden;
}

.app > .side_menu {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}

.app > .content {
    background-image: url('/src/resources/images/map_mock.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.calendar {
    margin: 10px 0 21px 0;

}