.controls_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    width: var(--side-menu-width);
    left: 0;
    bottom: 0;
}

.add_field_button_container {
    padding: 0 var(--padding-common-big);
}

.user_controls_container {
    height: 56px;
    background: var(--color-white);
    box-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
}

.button_container {
    height: 56px;
    padding: 0 var(--padding-common-big);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--ui-transition);
    gap: 7px;
    font: var(--font-m-medium);
}

.button_container:hover {
    opacity: 0.8;
}

.button_container:active {
    opacity: 1;
}