.content {
    background-image: url('/src/resources/images/map_mock.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--padding-common-big);
    position: relative;
}