.field_area_filter_container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0 3px var(--padding-common-big) 3px;
}

.title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 12px;
}

.filter_title {
    font: var(--font-m-medium);
    color: var(--color-dark);
}

.filtered_areas {
    font: var(--font-m);
    color: var(--color-black-light);
}