.side_menu {
    display: flex;
    flex-direction: column;
    padding: var(--padding-common-small) var(--padding-common-big);
    position: relative;
}

.calendar_container {
    margin: 10px 0 21px 0;
}