@import url("/src/fonts/stylesheet.css");
@import url("/src/styles/variables.css");

* {
    font-family: "Graphik", serif;
}

body {
    margin: 0;
    padding: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
    border: 0 none #000000;
}

sup {
    vertical-align: top;
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
}