.button_container {
    height: 56px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    cursor: pointer;

    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    transition: var(--ui-transition);
}

.button_container:hover {
    opacity: 0.8;
}

.button_container:active {
    opacity: 1;
}